.search {
  background: white;
  //element elastyczny
  flex-grow: 1; //pozwalać elementowi rosnąć aby zapełnić cały rząd
  //kontener
  display: flex; //teraz element staje sie kontenerem
  align-items: center; //pozwoli nam wycentrować w pionie
  justify-content: center; //centrowanie w poziomie

  @media (max-width: 799px) {
    padding-top: 20px;
    flex-basis: 100%;
    order: -1; //pozwala to przeskoczyc elementowi na samą górę
  }
  &__input {
    flex-basis: 60%; //rozciągnij nasz input na 60% rodzica
    height: 50%;
    min-height: 30px;
    max-height: 40px;
    margin-right: 2vh;
    padding: 0 10px;
    font-size: 1.4rem;
    border-radius: 5px;
    &:focus {
      box-shadow: 0 0 2px 1px $color-main;
      font-weight: bold;
    }
  }
  &__btn {
    //flex-basis: ;
    font-size: 1.4rem;
    height: 50%;
    min-height: 30px;
    max-height: 40px;
    padding: 0 10px;
    border: 2px solid black;
    background: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    &:hover {
      border-color: $color-main;
      background-color: $color-main;
      color: white;
      cursor: pointer;
      transition: 0.5s;
    }
  }
}
